<html>
    <body>
        <h1>Employees</h1>
        {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
        <table>
            {% for employee in employees %}
                <tr>
                    <td>{{ employee["id"] }}</td>
                    <td>{{ employee["name"] }}</td>
                </tr>
            {% endfor %}
        </table>
        <!-- <form method="post">
            <input name="name" />
            <input type="submit" value="Save" />
        </form> -->

        {% from "_formhelpers.html" import render_field %}
        <form method="post">
            <dl>
              {{ render_field(form.name) }}
            </dl>
            <p><input type="submit" value="Save">
          </form>
    </body>
</html>